# -*- python -*-

import lsst.sconsUtils

dependencies = {
    "required": ["afw", "pipe_base", "daf_persistence", "daf_base", "pex_config", "ap"]
}

config = lsst.sconsUtils.Configuration(
    __file__,
    headers=[], libs=[],
    hasDoxygenInclude=False,
    hasSwigFiles=False,
)
